In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [2]:
df_train =pd.read_csv("./train_cleaned.csv")
df_test =pd.read_csv("../datasets/test.csv")
df_train.head()

,Unnamed: 0,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,0,109,533352170,60,RL,85.505051,13517,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,1,544,531379050,60,RL,43.000000,11492,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,2,153,535304180,20,RL,68.000000,7922,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,3,318,916386060,60,RL,73.000000,9802,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,4,255,906425045,50,RL,82.000000,14235,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [3]:
df_test.select_dtypes(include ="number").columns

Index(['Id', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Mas Vnr Area',
       'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area',
       'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath',
       'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces',
       'Garage Yr Blt', 'Garage Cars', 'Garage Area', 'Wood Deck SF',
       'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch',
       'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold'],
      dtype='object')

In [4]:
df_train['Enclosed Porch'].value_counts()

0      1723
112      13
96       10
216       6
84        6
       ...
190       1
194       1
196       1
198       1
301       1
Name: Enclosed Porch, Length: 159, dtype: int64

In [7]:
df_train[features].isnull().sum()

Lot Area          0
Overall Cond      0
Overall Qual      0
Pool Area         0
Total Bsmt SF     0
Garage Area       0
Bedroom AbvGr     0
Kitchen AbvGr     0
TotRms AbvGrd     0
Fireplaces        0
Garage Cars       0
Enclosed Porch    0
Full Bath         0
Half Bath         0
Wood Deck SF      0
Open Porch SF     0
Enclosed Porch    0
3Ssn Porch        0
Screen Porch      0
dtype: int64

In [6]:
features =['Lot Area','Overall Cond','Overall Qual' ,'Pool Area','Total Bsmt SF','Garage Area',
           'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces','Garage Cars',
           'Enclosed Porch', 'Full Bath', 'Half Bath',
           'Wood Deck SF','Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch']
X_train= df_train[features]
y_train=df_train['SalePrice']

X_test =df_test[features]
#Y_test =df_test['SalePrice']
lr = LinearRegression()

In [8]:
lr.fit(X_train,y_train)
lr.score(X_train,y_train)

0.7930611314139875

In [9]:
cross_val_score(lr,X_train,y_train,cv=5).mean()

0.7798218735234994

In [10]:
df_test['SalePrice'] = lr.predict(X_test)
y_test = df_test['SalePrice']

In [11]:
lr.score(X_test,y_test)

1.0

In [14]:
df_test[['Id','SalePrice']].to_csv('ames_pred_01_09_04.csv',index=False)

In [15]:
a = pd.read_csv('ames_pred_01_09_04.csv')

In [16]:
a

       Id      SalePrice
0    2658  161959.166955
1    2718  174086.542946
2    2414  211700.763716
3    1989  124162.957910
4     625  207990.434229
..    ...            ...
873  1662  198967.911040
874  1234  219912.477410
875  1373  113443.034751
876  1672   95475.071362
877  1939  124949.632049

[878 rows x 2 columns]